@model EF_DBFirst.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Product</h2>
<form action="/products/delete/@Model.id" method="post">
    <input type="hidden" name="id" value="@Model.id" />
    <table class="table">
      
        <tr>
            <th>Product Name</th>
            <td>@Model.name</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.price</td>
        </tr>
        </table>
        <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/product" class="btn btn-dark">Cancel</a>
</form>
