@model EF_DBFirst.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Detail</h2>
<table class="table">
    <tr>
        <th>Product ID</th>
        <td>@Model.id</td>
      
       
        
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.name</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.price</td>
    </tr>
</table>
